.awesome-section {
  background: #ffffff;
}

.awesome-section-list {
  display: flex;
  margin-top: 1.25rem;
  margin: -15px;
}

.awesome-section-item {
  text-align: center;
  flex-basis: calc(100% / 12 * 4 - 30px);
  color: #000000;
  margin: 15px;
}

.awesome-section-item__img {
  width: 50%;
}

.awesome-section-item__title {
  margin-top: 2rem;
}

.awesome-section-item__desc {
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .awesome-section-list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .awesome-section-item {
    flex-basis: calc(100% / 12 * 6 - 40px);
  }

  .awesome-section-item__img {
    width: 45%;
  }

  .awesome-section-item__title {
    margin-top: 1.5rem;
  }
}

@media (max-width: 460px) {
  .awesome-section-item {
    flex-basis: calc(100% - 40px);
  }
}
