.contact-section-form {
  width: 100%;
  display: flex;
  row-gap: 2rem;
  flex-direction: column;
  align-items: center;
}

.contact-form-fields {
  width: 100%;
  display: flex;
  border: none;
}

.contact-section-inputs-group {
  flex-basis: calc(100% / 2 - 30px);
  margin: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

.contact-form-fields > .form-label {
  flex-basis: calc(100% / 2 - 30px);
  margin: 15px;
}

.contact-form-fields .form-textarea {
  height: 100%;
}

@media (max-width: 540px) {
  .contact-form-fields {
    flex-wrap: wrap;
    justify-content: center;
  }

  .contact-section-inputs-group {
    flex-basis: calc(100% - 40px);
    margin-bottom: 3rem;
  }

  .contact-form-fields > .form-label {
    flex-basis: calc(100% - 40px);
  }

  .contact-form-fields .form-textarea {
    min-height: 15em;
  }
}
