.contact-section-form {
  width: 100%;
  display: flex;
  row-gap: 2rem;
  flex-direction: column;
  align-items: center;
}

.contact-form-fields {
  width: 100%;
  display: flex;
  column-gap: 3rem;
  border: none;
}

.contact-section-inputs-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

.contact-form-fields > .form-label {
  width: 50%;
}

.contact-form-fields .form-textarea {
  height: 100%;
}
