html {
  font-size: 16px;
}

section {
  padding: var(--padding-section);
  scroll-margin-top: 2rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 1.4;
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.4;
  padding: 1rem 0;
  text-transform: capitalize;
}

p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.13rem;
}

.main {
  padding-top: 4rem;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1rem;
  }

  p {
    font-size: 0.88rem;
  }
}
